

* {
    margin: 0;
    padding: 0;
}


.navbar{
    padding: 5px;
    display: flex;
    align-items: center;
}

header{
   
    background-color: #1f2937;
}

.header_logo{  
  
    color: #f9faf8;
   font-size: 24px;
   margin-top: 10px;
   flex: 1;
   display: flex;
   justify-content: left;
   margin-left: 100px;
}

.navbar_links{

    font-size: 18px;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
}
.header_body{
    
    background-color: #1f2937;
    display: flex;
    align-items: center;
}

.header_text{
    
    display: block;
    flex: 1;
    flex-wrap: wrap;
    margin-left: 100px;
    
    
}

.header_photo{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex: 1;
    justify-content: center;
   
    
}  

.placeholder_img{
   width: 450px;
   height: 200px;
   
}

.sign_up{
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 7px;
    font-weight: bold;
    color: #e5e7eb;
    font-size: 20px;
    padding: 5px 12px;
    margin-top: 15px;
}


h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}

a{
    color: #e5e7eb;
    text-decoration: none;
    
}